/*body {
  max-width: 960px;
  margin: auto;
}*/

h1 {
  color: white;
  text-align: center;
}

a:link {
  padding: 5px 15px;
  text-decoration: none;
  font-size: 1.6em;
  color: green;
}

a:visited {
  color: green;
}

a:hover {
  background-color: green;
  color: white;
}

a.selected {
  border-style: solid;
  border-color: green;
  border-radius: 5px;
}

.heading {
  background-color: white;
  color: green;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  padding-top: 1em;
  border-bottom: solid;
  border-color: green;
  /*max-width: 960px;*/
  /*text-align: center;*/
  /*margin: auto;*/
}

.headingLogin, .headingSettings {
  padding-bottom: 1em;
}

.go, .button {
  background-color: green; /* turned off line 185 in skeleton.css*/
  color: white; /* turned off line 176 in skeleton.css*/
}

.bkgrnd {
  background-image: url("../../Private/background-supersize.jpg");
  background-size: 100%;
}



.zip {
  max-width: 100px;
}

.login, .settings {
  background-color: white;
  padding-right: 10px;
  padding-left: 10px;
}

.loginBottom {
  border-radius: 0px 0px 5px 5px;
}

.row {

}
